#actor {
    main {
        margin-top: 125px;
    }
    h1 {
        font-size: 35px;

        margin: 0;
    }
    p {
        font-size: 20px;

        margin: 25px 0;

        letter-spacing: 1px;

        color: #fff;
    }
    .info {
        font-family: 'Letterboard';

        display: flex;

        margin: 0;
        padding: 0;

        list-style: none;

        align-items: center;
        li {
            margin-right: 10px;

            color: #f3b6d5;

            &:first-child {
                font-size: 18px;

                margin-right: 15px;

                color: #fff;
            }
        }
    }
    .homepage {
        font-family: 'Letterboard';
        font-size: 20px;

        margin-top: 10px;

        text-align: right;
        text-decoration: none;
        letter-spacing: 2px;

        color: #f3b6d5;
        span {
            color: #fff;
        }
    }
}