$font-path: '/fonts/' !default;
$fa-font-path: '/fonts/fontawesome';

@import 'fontawesome/fontawesome';
@import 'fontawesome/regular';
@import 'fontawesome/solid';
@import 'fontawesome/light';
@import 'fontawesome/brands';


@font-face {
    font-family: 'Letterboard';
    font-weight: normal;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/letterboard/letterboard.woff2') format('woff2'),;
}



