footer {
    font-family: 'Letterboard';
    font-size: 20px;

    width: 100%;
    padding-right: 25px;

    text-align: right;
    letter-spacing: 2px;

    color: #fff;
    a {
        text-decoration: none;

        color: #f3b6d5;
    }
}