html,
body {
    height: auto;
    min-height: 100%;
}
body {
    background-image: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    h1 {
        font-family: 'Letterboard';

        margin-bottom: 25px;

        letter-spacing: 5px;
        text-transform: uppercase;

        color: #fff;
    }
}

.movie {
    position: relative;

    overflow: hidden;

    height: 475px;
    padding-bottom: 30px;



    .poster {
        position: relative;

        width: 100%;
        height: 100%;

        transition: transform 2000ms ease-in-out;

        background-repeat: no-repeat;
        background-size: cover;
    }
    &:hover {
        .details {
            opacity: 1;

            backdrop-filter: blur(4px);
        }
        .poster {
            // transform: scale(1.1);
        }
    }

    .details {
        position: relative;
        z-index: 1;

        display: grid;

        width: 100%;
        height: 100%;
        padding-right: inherit;
        padding-left: inherit;

        transition: opacity 550ms ease-in-out;
        text-align: center;

        opacity: 0;
        background: rgba(0,0,0,0.75);

        align-items: center;
        place-content: center;
        a {
            font-family: 'Letterboard';
            font-size: 20px;

            margin-top: 10px;

            text-decoration: none;
            letter-spacing: 2px;

            color: #f3b6d5;
            &.about {
                color: #fff;
            }
        }
    }
}

.added {
    font-family: 'Letterboard';
    font-size: 20px;

    position: fixed;
    z-index: 10;
    top: 25px;
    left: 25px;

    display: flex;
    visibility: hidden;
    flex-direction: row;

    height: 50px;
    padding: 0 20px;

    transition: all 550ms ease-in-out;
    letter-spacing: 1px;

    opacity: 0;
    color: #fff;
    border-radius: 10px;
    background: rgba(0,0,0,0.75);

    align-items: center;
    justify-content: center;
    &.is-showing {
        visibility: visible;

        opacity: 1;
    }
    span {
        display: inline-block;

        margin: 0 4px;

        color: #f3b6d5;
    }
}