html,
body {
    height: auto;
    min-height: 100%;
}
body {
    background-image: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    h1 {
        font-family: 'Letterboard';

        margin-bottom: 25px;

        letter-spacing: 5px;
        text-transform: uppercase;

        color: #fff;
    }
}

.movie {
    position: relative;

    overflow: hidden;

    height: 475px;
    padding-bottom: 30px;

    cursor: pointer;

    .poster {
        position: relative;

        width: 100%;
        height: 100%;

        transition: transform 2000ms ease-in-out;

        background-repeat: no-repeat;
        background-size: cover;
    }
    &:hover {
        .details {
            opacity: 1;
        }
        .poster {
            // transform: scale(1.1);
        }
    }
    .details {
        position: relative;
        z-index: 1;

        display: grid;

        width: 100%;
        height: 100%;
        padding-right: inherit;
        padding-left: inherit;

        transition: opacity 550ms ease-in-out;

        opacity: 0;
        background: rgba(0,0,0,0.75);

        align-items: center;
        place-content: center;
        i {
            font-size: 30px;

            color: #fff;
        }
    }
}
