#movie {
    main {
        display: grid;

        height: 100vh;

        place-content: center;
    }
    h1 {
        font-size: 35px;

        margin: 0;
    }
    i {
        font-size: 30px;

        transition: color 550ms ease-in-out;

        color: #fff;
    }
    .status {
        text-align: right;
        a {
            font-family: 'Letterboard';
            font-size: 20px;

            text-align: right;
            text-decoration: none;
            letter-spacing: 2px;

            color: #f3b6d5;
        }
    }
    p {
        font-size: 20px;

        margin: 25px 0;

        letter-spacing: 1px;

        color: #fff;
    }
    .genres {
        font-family: 'Letterboard';

        display: flex;

        margin: 0;
        padding: 0;

        list-style: none;

        align-items: center;
        li {
            margin-right: 10px;

            color: #f3b6d5;

            &:first-child {
                font-size: 18px;

                margin-right: 15px;

                color: #fff;
            }
        }
    }
    .cast {
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;

        margin: 10px 0;
        padding: 0;

        list-style: none;
        &::-webkit-scrollbar {
            width: 10px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 8px;
            background: rgba(0, 0, 0, 0.40);
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 8px;
            background: #f3b6d5;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #f3b6d5;
        }
        li {
            font-family: 'Letterboard';

            margin-right: 10px;
            .photo {
                overflow: hidden;

                width: 100px;
                height: 100px;
                margin-bottom: 10px;

                border-radius: 100%;
                img {
                    width: 100px;
                    height: 100px;

                    object-fit: cover;
                }
            }
            p {
                font-size: 15px;

                margin: 0;

                text-align: center;

                color: #f3b6d5;
            }
        }
    }
    .homepage {
        font-family: 'Letterboard';
        font-size: 20px;

        margin-top: 10px;

        text-align: right;
        text-decoration: none;
        letter-spacing: 2px;

        color: #f3b6d5;
        span {
            color: #fff;
        }
    }
}