#search {
    background-image: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
    background-size: cover;
    main {
        display: grid;

        width: 100vw;
        height: 100vh;

        place-content: center;
        place-items: center;

        .search {
            position: relative;

            display: flex;
            flex-direction: row;

            width: 400px;
            height: 50px;

            border-radius: 10px;
            background: rgba(0,0,0,0.75);

            align-items: center;
            input {
                width: 100%;
                padding: 0 45px;

                color: #fff;
                border: none;
                outline: none;
                background: transparent;
            }
            i {
                position: absolute;

                color: #fff;
                &.fa-search {
                    left: 20px;
                }
                &.fa-times {
                    right: 20px;

                    visibility: hidden;

                    cursor: pointer;
                    transition: opacity 550ms ease-in-out;

                    opacity: 0;
                    &.is-showing {
                        visibility: visible;

                        opacity: 1;
                    }
                }
            }
        }
        .no-results {
            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%,-50%);
            text-align: center;
            a {
                font-family: 'Letterboard';
                font-size: 20px;

                text-decoration: none;

                color: #f3b6d5;
            }
        }

        ul {
            display: flex;

            margin: 25px 0 0 0;
            padding: 0;

            list-style: none;
            li {
                font-family: 'Letterboard';
                font-size: 20px;

                letter-spacing: 2px;

                color: #f3b6d5;
                label {
                    font-size: 22px;

                    position: relative;

                    display: flex;

                    margin: 0;

                    cursor: pointer;
                    user-select: none;

                    align-items: center;
                    &:first-child {
                        margin-right: 20px;
                    }
                    &:hover {
                        input ~ .checkmark {
                            // background-color: #ccc;
                        }
                    }
                    p {
                        margin: 0;
                    }
                    input {
                        position: absolute;

                        cursor: pointer;

                        opacity: 0;
                        &:checked ~ .checkmark {
                            background-color: #f3b6d5;
                            &::after {
                                opacity: 1;
                            }
                        }
                    }
                    .checkmark {
                        position: relative;

                        width: 16px;
                        height: 16px;
                        margin-right: 10px;

                        transition: all 550ms ease-in-out;

                        border-radius: 50%;
                        background: rgba(0,0,0,0.50);
                        &::after {
                            position: absolute;
                            top: 50%;
                            left: 50%;

                            width: 8px;
                            height: 8px;

                            content: '';
                            transition: all 550ms ease-in-out;
                            transform: translate(-50%, -50%);

                            opacity: 0;
                        }
                    }
                }
            }
        }
    }
    &.results {
        main {
            display: block;
            h1 {
                margin-top: 100px;
                margin-bottom: 0;
                span {
                    color: #f3b6d5;
                }
            }
            p {
                font-family: 'Letterboard';
                font-size: 25px;

                margin-bottom: 10px;

                letter-spacing: 1.5px;

                color: #fff;
            }
        }
    }
}
