

#search {
    &.results {
        main {
            display: block;
            h1 {
                margin-top: 100px;
                margin-bottom: 0;
                span {
                    color: #2596be;
                }
            }
            p {
                font-family: 'Letterboard';
                font-size: 25px;

                margin-bottom: 10px;

                letter-spacing: 1.5px;

                color: #fff;
            }
        }
    }
}

